{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>


        <title>Портфоліо </title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Назарій</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Домашня</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">Про мене</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Навички</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Роботи</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Контакт</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Привіт,<br>Я <span class="home__title-color">Назарій</span><br>Розробник Python</h1>

                    <a href="#contact" class="button">Контакт</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/nazar-legeza-798520180/" target="_blank" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://t.me/Nazariuse" target="_blank" class="home__social-icon"><i class='bx bxl-telegram' ></i></a>
                    <a href="https://github.com/Nazariuss" target="_blank" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="60" href="{% static 'img/perfil.png' %}"/>
                        </g>
                    </svg>
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">Про мене</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'img/about.jpg' %}" alt="">
                    </div>
                    
                    <div>
                        <p class="about__text">
                            <p>Привіт, мене звати Назарій. Я розробник на Python, HTML, CSS та JavaScript. Мій досвід у програмуванні полягає у розробці власних проектів, і я маю багато цікавих робіт у своєму портфоліо.</p><br>
                            <p>Моя головна область експертизи - веб-розробка. Я працюю з різноманітними технологіями, такими як Django, та вмію створювати веб-сайти та веб-додатки різної складності.</p><br>
                            <p>Я завжди відкритий для нових викликів та готовий до навчання, щоб покращувати свої навички та додавати нові до свого арсеналу. Я люблю використовувати нові технології та інструменти, щоб зробити свої проекти ще кращими.</p><br>
                            <p>Якщо вас зацікавила моя робота, будь ласка, зв'яжіться зі мною. Я завжди готовий до нових проектів та можливостей співпраці.</p>
                        </p>
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Навички</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Професійні навички</h2>
                        <p class="skills__text">Маю навички у роботі з Python, HTML, CSS та JavaScript. Фреймворк Django, робота з API. Я вмію працювати з Git та здатен розроблювати код, що відповідає найкращим практикам та стандартам розробки.</p>
                         <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-python skills__icon'></i>
                                <span class="skills__name">Python</span>
                            </div>
                            <div class="skills__bar skills__ux">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="{% static 'img/work3.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Роботи</h2>

                <div class="work__container bd-grid">
                    <a href="https://github.com/Nazariuss/Events_Site" target="_blank" class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </a>
                    <a href="" target="_blank" class="work__img">
                        <img src="{% static 'img/work2.jpg' %}" alt="">
                    </a>
                    <a href="" target="_blank" class="work__img">
                        <img src="{% static 'img/work3.jpg' %}" alt="">
                    </a>
                    <a href="" target="_blank" class="work__img">
                        <img src="{% static 'img/work4.jpg' %}" alt="">
                    </a>
                    <a href="" target="_blank" class="work__img">
                        <img src="{% static 'img/work5.jpg' %}" alt="">
                    </a>
                    <a href="" target="_blank" class="work__img">
                        <img src="{% static 'img/work6.jpg' %}" alt="">
                    </a>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Контакт</h2>

                <div class="contact__container bd-grid">
                    <form class="contact__form" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Ім`я" class="contact__input" name="message-name">
                        <input type="email" placeholder="Пошта" class="contact__input" name="message-email">
                        <textarea name="message" id="" cols="0" rows="10" placeholder="Повідомлення" class="contact__input"></textarea>
                        <input type="submit" value="Надіслати" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Назарій</p>
            <div class="footer__social">
                <a href="https://github.com/Nazariuss" target="_blank" class="footer__icon"><i class='bx bxl-github' ></i></a>
                <a href="https://t.me/Nazariuse" target="_blank" class="footer__icon"><i class='bx bxl-telegram' ></i></a>
                <a href="https://www.linkedin.com/in/nazar-legeza-798520180/" target="_blank" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
            </div>
            <p class="footer__copy">&#169; Моє Портфоліо.&nbsp;&nbsp;Всі права захищені</p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
